asyncio==3.4.3
bcrypt==3.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
gevent==21.12.0
greenlet==1.1.2
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
mysql-connector-python==8.0.28
protobuf==3.19.4
pycparser==2.21
python-dotenv==0.19.2
requests==2.27.1
requests-futures==1.0.0
six==1.16.0
SQLAlchemy==1.4.32
transliterate==1.10.2
urllib3==1.26.8
Werkzeug==2.0.3
zope.event==4.5.0
zope.interface==5.4.0
