h1 {
    text-align: center;
}

form {
    margin: 0 auto;
    width: 600px;
    padding-top: 80px;
}

.card {
    margin: 50px auto;
    width: 600px;
}

hr {
    width: 650px;
    margin: 50px auto;
}